<head>
    {% include components/Head/Meta/Meta.html %}
    <title>{{ page.title }} | {{ site.title }}</title>
    {% include components/Head/Favicons/Favicons.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/libs/fontawesome-free-5.6.3-web/css/all.min.css" />
    <script src="{{ site.baseurl }}/dist/libs/jquery/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/dist/main.js"></script>
    <script src="{{ site.baseurl }}/dist/libs/bootstrap/js/bootstrap.min.js"></script>
</head>