<head>
    <base href="{{ site.baseurl }}/" />
    {% include components/Head/Meta/Meta.html %}
    <title>{{ page.title }} | {{ site.title }}</title>
    {% include components/Head/Favicons/Favicons.html %}
    <link rel="stylesheet" href="dist/style.css" />
    <link rel="stylesheet" href="dist/libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="dist/libs/fontawesome-free-5.6.3-web/css/all.min.css" />
    <script src="dist/libs/jquery/jquery.min.js"></script>
    <script src="dist/main.js"></script>
    <script src="dist/libs/bootstrap/js/bootstrap.min.js"></script>
</head>