.page__header-button
    float: right
    height: $headerHeight

.page__header-button-link
    display: flex!important
    width: 100%
    height: 100%
    padding: 0 16px
    color: $siteColor
    justify-content: center
    align-items: center

.page__header-button-link:hover
    text-decoration: none
    color: white
    background-color: $siteColor

@media (min-width: 1024px)
    .page__header-button
        display: none
