<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="contacts">
                <div class="contacts__contacts-block">
                    <h2><span class="fas fa-building"></span> Центральный офис г. Брест</h2>
                    <p>ООО "ДЕ-ПА"  г. Брест, Инженерная 19-1</p>
                    <p>УНП 291477952</p>
                    <p>р/с BY18MTBK30120001093300082100 в ЗАО "МТБанк" БИК MTBKBY22</p>
                    <div class="contacts__phone-block">
                        <a class="contacts__link" href="tel: +375162455611"><span class="fas fa-phone"></span> / <span class="fas fa-fax"></span> +375-162-45-56-11</a>
                    </div>
                </div>
                <div class="contacts__contacts-block">
                    <h3><span class="fas fa-user"></span> Директор</h3>
                    <div class="contacts__phone-block">
                        <a class="contacts__link" href="tel: +905462027733"><span class="fas fa-mobile-alt"></span> +90-546-202-77-33 (TR)</a>
                        <a class="contacts__link" href="tel: +375333057733"><span class="fas fa-mobile-alt"></span> +375-33-305-77-33 (BY)</a>
                        <a class="contacts__link" href="mailto: info@de-pa.by"><span class="fas fa-envelope"></span> info@de-pa.by</a>
                    </div>
                    <div class="contacts__phone-block">
                        <a class="contacts__link-social contacts__link--viber fab fa-viber" href="viber://add?number=905462027733"></a>
                        <a class="contacts__link-social contacts__link--whats-app fab fa-whatsapp" href="https://api.whatsapp.com/send?phone=905462027733"></a>
                        <a class="contacts__link-social contacts__link--skype fab fa-skype" href="skype:rusturkeygroup?call"></a>
                    </div>
                </div>
                <div class="contacts__contacts-block">
                    <h3><span class="fas fa-user"></span> Зам. директора</h3>
                    <div class="contacts__phone-block">
                        <a class="contacts__link" href="tel: +375333657733"><span class="fas fa-mobile-alt"></span> +375-33-365-77-33 (BY)</a>
                        <a class="contacts__link" href="tel: +375292210500"><span class="fas fa-mobile-alt"></span> +375-29-22-100-500 (BY)</a>
                        <a class="contacts__link" href="mailto: zamdirector@de-pa.by"><span class="fas fa-envelope"></span> zamdirector@de-pa.by</a>
                    </div>
                    <div class="contacts__phone-block">
                        <a class="contacts__link-social contacts__link--viber fab fa-viber" href="viber://add?number=375292210500"></a>
                        <a class="contacts__link-social contacts__link--whats-app fab fa-whatsapp" href="https://api.whatsapp.com/send?phone=375292210500"></a>
                        <a class="contacts__link-social contacts__link--skype fab fa-skype" href="skype:natali_from_brest?call"></a>
                    </div>
                </div>
                <div class="contacts__contacts-block">
                    <h2><span class="fas fa-building"></span> Региональный представитель по Минску и Минской области</h2>
                    <div class="contacts__phone-block">
                        <a class="contacts__link" href="tel: +375333447730"><span class="fas fa-mobile-alt"></span> +375-33-344-77-30 (BY)</a>
                        <a class="contacts__link" href="mailto: minsk@de-pa.by"><span class="fas fa-envelope"></span> minsk@de-pa.by</a>
                    </div>
                </div>
                <div class="contacts__contacts-block">
                    <h2 class="contacts__h2"><span class="fas fa-building"></span> Контактная информация фирмы DE-PA Electric</h2>
                    <p>İkitelli Org. San. Böl. Metal İş San Sit. 17.Blok</p>
                    <p>No:2-4-6-8 Başakşehir/İstanbul/Turkey</p>
                    <div class="contacts__phone-block">
                        <a class="contacts__link" href="tel: +902125497294"><span class="fas fa-phone"></span> +90-212-549-72-94</a>
                        <a class="contacts__link" href="tel: +902125492497"><span class="fas fa-fax"></span> +90-212-549-24-97</a>
                        <a class="contacts__link" href="mailto: erdal@de-pa.com.tr"><span class="fas fa-envelope"></span> erdal@de-pa.com.tr</a>
                    </div>
                </div>
            </div><!-- /contacts -->
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->