.contacts
    float: left
    width: 100%
    text-align: center
    &__contacts-block
        margin: 16px 0
    &__phone-block
        display: flex
        width: 100%
        flex-wrap: wrap
        justify-content: center
    &__link
        font-size: 1em
        display: block
        float: left
        width: 250px
        margin: 8px
        padding: 8px 16px
        color: white
        border: 1px solid $siteColor
        border-radius: 16px
        background-color: $siteColor
        &:hover
            text-decoration: none
            color: $siteColor
            background-color: white
        &-social
            font-size: 2em
            margin: 8px
            padding: 8px
            color: white
            border-radius: 16px
            &:hover
                text-decoration: none
        &--viber
            border: 1px solid #6e45b9
            background-color: #6e45b9
            &:hover
                color: #6e45b9
                background-color: white
        &--whats-app
            border: 1px solid #4fc95e
            background-color: #4fc95e
            &:hover
                color: #4fc95e
                background-color: white
        &--skype
            border: 1px solid #00b0f1
            background-color: #00b0f1
            &:hover
                color: #00b0f1
                background-color: white
