<head>
    {% include Head/Meta/Meta.html %}
    <title>{{ page.title }} | {{ site.title }}</title>
    {% include Head/Favicons/Favicons.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/styles.css">
    <script src="{{ site.baseurl }}/dist/libs/jquery/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/dist/main.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/libs/bootstrap/dist/css/bootstrap.min.css" />
    <script src="{{ site.baseurl }}/dist/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/libs/fontawesome-free-5.9.0-web/css/all.min.css" />
</head>