@import '../../../consts/consts.sass'

.page__header-logo
    float: right
    width: calc(100% - 2 * 48px)
    height: $headerHeight

.page__header-logo-link
    display: flex
    width: 100%
    height: 100%
    justify-content: center

.page__header-logo-link:hover
    background-color: rgba(0, 0, 0, .1)

.page__header-logo-img
    display: block
    height: calc(100% - 2px - 2px)
    padding: 2px 8px

@media (min-width: 1024px)
    .page__header-logo
        width: $logoWidth