.PageHTML
    display: flex
    flex-wrap: wrap
    justify-content: center
    &__item
        width: 200px
        margin: 8px
        padding: 8px
        box-shadow: 0 0 8px rgba(0,0,0,0.4)
    &__title
        color: #06c