.page__docs
    ul
        margin: 0
        padding: 0
        display: flex
        flex-wrap: wrap
        justify-content: center
    li
        display: block
    a
        display: block
        text-align: center
        width: 200px
        margin: 16px
        background-color: rgba(0, 0, 0, 0.05)
        padding: 16px
    a:hover
        text-decoration: none
        background-color: rgba(0, 0, 0, 0.2)
    
