{% case include.social_icon %}
    {% when "whatsapp" %}
        {% assign href = 'https://api.whatsapp.com/send?phone=' | append: include.value %}
        {%
            include ContactIconByParams.html
            color='#00e676'
            href=href
            icon='<i class="bi bi-whatsapp"></i>'
        %}
    {% when "viber" %}
        {% assign href = 'viber://add?number' | append: include.value %}
        {%
            include ContactIconByParams.html
            color='#7360f1'
            href=href
            icon='<i class="bi bi-telephone-inbound"></i>'
        %}
    {% when "skype" %}
        {% assign href = 'skype:' | append: include.value %}
        {%
            include ContactIconByParams.html
            color='#1583ce'
            href=href
            icon='<i class="bi bi-skype"></i>'
        %}
    {% when "telegram" %}
        {% assign href = include.value %}
        {%
            include ContactIconByParams.html
            color='#3390ec'
            href=href
            icon='<i class="bi bi-telegram"></i>'
        %}
    {% when "linkedin" %}
        {% assign href = 'https://www.linkedin.com/in/' | append: include.value %}
        {%
            include ContactIconByParams.html
            color='#1583ce'
            href=href
            icon='<i class="bi bi-linkedin"></i>'
        %}
    {% else %}
        {% assign href = include.value %}
        {%
            include ContactIconByParams.html
            color='gray'
            href=href
            icon='<i class="bi bi-link-45deg"></i>'
        %}
{% endcase %}
