<h1>{{ page.ozon_product_name }}</h1>

{% if page.ozon_product_all_images %}
    {% assign photos = page.ozon_product_all_images %}

    <div id="carouselExample" class="carousel carousel-dark slide mt-2 mb-2">
        <div class="carousel-indicators">
            {% for photo in photos %}
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="{{ forloop.index }}"
                    class="{% if forloop.first %}active{% endif %}"
                    aria-current="{% if forloop.first %}true{% endif %}"
                    aria-label="Slide {{ forloop.index }}"
                ></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for photo in photos %}
                <div class="carousel-item text-center {% if forloop.first %}active{% endif %}">
                    <img
                        src="{{ photo }}"
                        alt="нет фото"
                        width="100"
                        height="100"
                        style="height: auto; width: auto; max-height: 40vh;"
                    />
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endif %}

<div class="pt-2 pb-1">
    <a
        target="_blank"
        class="btn d-block"
        style="background: linear-gradient(to right, #2158f0, #f91156); color: white;"
        href="https://ozon.ru/products/{{ page.ozon_product_sku }}"
    >
        Открыть на OZON
    </a>
</div>

{% comment %} < < < < < < < < Объединеные товары {% endcomment %}

{% assign array_products_by_association_name = "" | split: "" %}

{% for ozonProd in site.data.OzonProducts %}
    {% if page.ozon_product__association_name == ozonProd._association_name %}
        {% assign array_products_by_association_name = array_products_by_association_name | push: ozonProd %}
    {% endif %}
{% endfor %}

{% assign sorted_array_products_by_association_name = array_products_by_association_name | sort: "name" %}

{% if sorted_array_products_by_association_name.size > 1 %}
    <h2>Объединенные товары</h2>
    <div class="row">
        {% for product in sorted_array_products_by_association_name %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card m-2">
                    <img
                        src="{{ product.primary_image }}"
                        class="card-img-top"
                        alt="На фотосессии"
                        width="200"
                        height="200"
                        style="object-fit: cover; height: 200px;"
                    />
                    <div class="card-body">
                        <h5 class="card-title">{{ product.offer_id }}</h5>
                        <p class="card-text flex-grow-1 mb-0">{{ product.name }}</p>
                        <p class="card-text text-end text-secondary mb-1">Осталось {{ product._count_in_store }} шт.</p>
                        <a
                            class="btn btn-primary d-block"
                            href="/ozon-products/{{ product.offer_id }}/"
                        >
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% comment %} > > > > > > > > Объединеные товары {% endcomment %}

<h2>Основные характеристики продукта</h2>

<table class="table table-bordered table-sm caption-top mt-2">
    <thead>
        <tr>
            <th class="text-center" width="250">Характеристика</th>
            <th class="text-center">Значение</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ID продукта</td>
            <td>{{ page.ozon_product_id }}</td>
        </tr>
        <tr>
            <td>Артикул OZON</td>
            <td>
                <a
                    target="_blank"
                    href="https://ozon.ru/products/{{ page.ozon_product_sku }}"
                >
                    {{ page.ozon_product_sku }}
                </a>
            </td>
        </tr>
        <tr>
            <td>Артикул продавца</td>
            <td>{{ page.ozon_product_offer_id }}</td>
        </tr>
        <tr>
            <td>Штрихкод</td>
            <td>
                {% for barcode in page.ozon_product_barcodes %}
                    <div>{{ barcode }}</div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Глубина продукта с упаковкой, мм</td>
            <td>{{ page.ozon_product_package_x }}</td>
        </tr>
        <tr>
            <td>Ширина продукта с упаковкой, мм</td>
            <td>{{ page.ozon_product_package_y }}</td>
        </tr>
        <tr>
            <td>Высота продукта с упаковкой, мм</td>
            <td>{{ page.ozon_product_package_z }}</td>
        </tr>
        <tr>
            <td>Вес продукта с упаковкой, г</td>
            <td>{{ page.ozon_product_package_g }}</td>
        </tr>
        <tr>
            <td>Габариты на этикетке</td>
            <td>
                {{ page.ozon_product_package_x }} x {{ page.ozon_product_package_y }} x {{ page.ozon_product_package_z }} | {{ page.ozon_product_package_g }} г.
            </td>
        </tr>
        <tr>
            <td>Объем коробки, л</td>
            <td>{{ page.ozon_product_package_l }}</td>
        </tr>
        <tr>
            <td>Создана карточка</td>
            <td>
                <abbr
                    class="text-decoration-none"
                    title="{{ page.ozon_product_created_at }}"
                >
                    {{ page.ozon_product_created_at | date: "%d.%m.%Y %H:%M" }}
                    ({% include days_ago.html date=page.ozon_product_created_at %})
                </abbr>
            </td>
        </tr>
        <tr>
            <td>Обновлена карточка</td>
            <td>
                <abbr
                    class="text-decoration-none"
                    title="{{ page.ozon_product_updated_at }}"
                >
                    {{ page.ozon_product_updated_at | date: "%d.%m.%Y %H:%M" }}
                    ({% include days_ago.html date=page.ozon_product_updated_at %})
                </abbr>
            </td>
        </tr>
    </tbody>
</table>

{% if page.ozon_product_attributes %}
    {% assign attributes = page.ozon_product_attributes %}

    <h2>Дополнительные характеристики продукта</h2>

    <div class="row mb-4">
         {% for attribute in attributes %}
            {% if attribute.id == 11254 %}
                {% continue %}
            {% endif %}

            <hr class="mt-2 mb-2" />

            <div class="col-sm-12 col-md-3 fw-bold">
                {{ attribute._name }}
            </div>

            <div class="col-sm-12 col-md-9">
                {% for value in attribute.values %}
                    <div>
                        {{ value.value }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% comment %} < < < < < < < < Товары категории {% endcomment %}

{% assign array_products_by_group = "" | split: "" %}

{% for ozonProd in site.data.OzonProducts %}
    {% if page.ozon_product__group == ozonProd._group %}
        {% assign array_products_by_group = array_products_by_group | push: ozonProd %}
    {% endif %}
{% endfor %}

{% assign sorted_array_products_by_group = array_products_by_group | sort: "name" %}

{% if sorted_array_products_by_group.size > 1 %}
    <h2>Товары категории: {{ page.ozon_product__group }}</h2>
    <div class="row">
        {% for product in sorted_array_products_by_group %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card m-2">
                    <img
                        src="{{ product.primary_image }}"
                        class="card-img-top"
                        alt="На фотосессии"
                        width="200"
                        height="200"
                        style="object-fit: cover; height: 200px;"
                    />
                    <div class="card-body">
                        <h5 class="card-title">{{ product.offer_id }}</h5>
                        <p class="card-text flex-grow-1 mb-0">{{ product.name }}</p>
                        <p class="card-text text-end text-secondary mb-1">Осталось {{ product._count_in_store }} шт.</p>
                        <a
                            class="btn btn-primary d-block"
                            href="/ozon-products/{{ product.offer_id }}/"
                        >
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% comment %} > > > > > > > > Товары категории {% endcomment %}
