<h1>404</h1>

<p>Что-то пошло не так...</p>

<p>Добро пожаловать на страницу 404! Вы находитесь здесь, потому что ввели адрес страницы, которая уже не существует.</p>

<p>Скорее всего, это случилось по одной из следующих причин:</p>

<ul>
    <li>Страница удалена (из-за утраты актуальности информации);</li>
    <li>Страница перенесена в другое место;</li>
    <li>Возможно, при вводе адреса была пропущена какая-то буква (на самом деле, у нас самих так часто получается);</li>
    <li>Вам просто нравится изучать 404 страницы.</li>
</ul>
