<div class="text-center mt-2">
    <iframe
        width="320"
        height="180"
        src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=96uWrIQIqNR1Uh6m&autoplay=1&mute=1"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowFullScreen
        style="width: 70vw; height: calc(70vw / 1.77);"
    ></iframe>
</div>

<div class="alert alert-warning mt-2" role="alert">
    <p class="mb-0">Попытка несанкционированного доступа к компьютерной информации с нарушением системы защиты является уголовно наказуемым деянием.</p>

    <p class="mb-0">Такие действия, совершенные из корыстной заинтересованности или повлекшие причинение существенного вреда, влекут за собой:</p>

    <ul class="mb-0">
        <li>штраф</li>
        <li>лишение права занимать определенные должности</li>
        <li>арест</li>
        <li>ограничение свободы</li>
        <li>лишение свободы</li>
    </ul>

    <p class="mb-0">Рекомендуем немедленно прекратить противоправные действия.</p>
</div>
