extends ./../__layouts__/page.pug


block variables
    -
        var page = {
            "title": "Главная",
            "description": "Главная",
        }

block title
    title #{page.title} 
block description
    meta(
        name = "description"
        content = page.description + "..."
    )

block content
    h2 ООО "ДЕ-ПА"

    <img src="SHOWROOM.jpg" alt="Офис в Турции" title="Офис DE-PA Electric" />

    p Общество с ограниченной ответственностью «ДЕ-ПА» является офицальным представителем «DE-PA ELECTRIC», являющееся одним из ведущих производителей электротоваров в Турции, и реализует электротехническую и светотехническую продукцию:

    ul
        li выключатели, розетки, разветвители, вилки, удлинители, электропатроны, боксы под автоматы, коробки монтажные и др.;
        li светильники: офисные, промышленные, уличные, прожекторы и др.;
        li кабель-каналы;
        li хомуты пластиковые;
        li шкафы распределительные, щиты, ящики, корпуса металлические и пластиковые и др.

    p Предприятие является импортером Турецкого производителя DE-PA ELECTRIC (первым официальном поставщиком) и поставляет продукцию в Республику Беларусь. Для большей заинтересованности Вами в приобретении продукции разработана гибкая система формирования цен.

    p Взаимовыгодное сотрудничество с нами позволит Вам расширить линейку товаров и спектр оказываемых услуг. Можем отгружать под Вашим брендом, полуфабрикатом, можем готовыми к продаже!!! Мы заинтересованы в открытии новых представительств и точек продаж на всей территории Беларуси.
