@import '../../consts/consts.sass'

.page__header
    width: 100%
    height: $headerHeight
    background-color: white
    border-bottom: 1px solid $siteBorderColor

.header__container
    width: 100%
    height: 100%