<div class="menu-header_menu-container">
    <ul class="menu">
        <li><a href="{{ site.baseurl }}/">Главная</a></li>
        <li><a href="{{ site.baseurl }}/about-us/">О нас</a></li>
        <li><a href="{{ site.baseurl }}/katalogs">Каталоги</a></li>
        <li><a href="{{ site.baseurl }}/products">Продукция</a></li>
        <li><a href="{{ site.baseurl }}/certificates">Сертификаты</a></li>
        <li><a href="{{ site.baseurl }}/prices">Прайсы</a></li>
        <li><a href="{{ site.baseurl }}/contacts">Контакты</a></li>
    </ul>
</div>
