@import './consts.sass'

html
    width: 100%
    height: 100%

body
    width: 100%
    height: 100%
    margin: 0
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.wrapper
    width: 100%
    height: 100%
    display: flex
    flex-direction: column

.content
    flex: 1 0 auto

.footer
    width: 100%
    background-color: $footerBackgroundColor
    flex: 0 0 auto

#carouselExampleIndicators
    padding-bottom: 16px

h1, h2, h3, h4, h5, h6
    color: $siteColor!important
    text-align: center

a:hover
    text-decoration: none

.page__flex
    display: flex
    flex-wrap: wrap
    justify-content: center
    .page__button
        justify-content: center
        width: 240px
        display: flex
        border: 1px solid $siteColor
        background-color: $siteColor
        padding: 8px 16px
        margin: 8px
        color: white
        border-radius: 16px
        &:hover
            background-color: white
            color: $siteColor
            text-decoration: none
        &--viber,
        &--whats-app,
        &--skype,
        &--linked-in
            display: flex
            justify-content: center
            align-items: center
            width: 48px
            height: 48px
            margin: 8px
            color: white
            border-radius: 16px
            font-size: 2rem
            &:hover
                background-color: rgba(0,0,0,0)
                text-decoration: none
        &--viber
            border: 1px solid #6e45b9
            background-color: #6e45b9
            &:hover
                color: #6e45b9
        &--whats-app
            border: 1px solid #4fc95e
            background-color: #4fc95e
            &:hover
                color: #4fc95e
        &--skype
            border: 1px solid #00b0f1
            background-color: #00b0f1
            &:hover
                color: #00b0f1
        &--linked-in
            border: 1px solid #0077b5
            background-color: #0077b5
            &:hover
                color: #0077b5

main
    width: 100%
    float: left
    img
        margin: 0 auto
        float: left
        margin: 22px
        max-width: 100%  

@media (max-width: 768px)
    main
        img
            float: none
            margin: 0
            width: 100%

thead
    th
        background-color: #c1c1c1
        color: white
        padding: 8px

tbody
    td
        border: 1px solid rgba(0,0,0,0.08)
        padding: 8px
