<div class="page__bread-crumbs">
    <div class="container">
        {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
        <a href="{{ site.baseurl }}/">home</a>
        {% for crumb in crumbs offset: 1 %}
            / <a
                href="{{ site.baseurl }}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}"
            >
                {{ crumb }}
            </a>
        {% endfor %}
    </div>
</div>