block variables

include ../__includes__/head.pug

body
    main
        div.container
            header
                h1 #{page.title}
            block content
            
        
include ../__includes__/footer.pug
