.page__price
    display: flex
    flex-wrap: wrap
    justify-content: center
    & > .google_table
        display: flex
        flex-wrap: wrap
        justify-content: center
    & .price_card
        width: 180px
        margin: 8px
        padding: 8px
        box-shadow: 0 0 8px rgba(0,0,0,0.4)
        border-radius: 8px
        &__img
            display: flex
            align-items: center
            justify-content: center
            height: 170px
        &__img > img
            display: block
            max-width: 100%
        &__title
            min-height: 120px
            text-align: center
            color: #06c
            margin: 8px 0
        & ul
            margin: 0
            padding: 0
            & li
                display: block
            & li:nth-child(2n + 1)
                font-weight: bold