doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='author' content='Pavel Innokentevich Galanin')
    block title
    block description
    link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
    link(rel='shortcut icon' href='/favicon.png' type='image/png')
    meta(name='theme-color' content='#06c')
