.footer-social-block
    display: flex
    float: left
    width: 100%
    height: 32px
    margin: 8px 0
    justify-content: center

.footer-social
    margin: 0 10px

.footer-social-link
    display: flex
    width: 30px
    height: 30px
    margin-right: 10px
    color: white
    border: 1px solid rgba(0, 0, 0, 0)
    border-radius: 50px
    justify-content: center
    align-items: center

.footer-social-link:hover
    text-decoration: none
    color: #494949
    border: 1px solid #494949
    background-color: rgba(0, 0, 0, 0)

.footer-social-link--linked-in
    background-color: #0077b5
