$siteColor: #06c
$logoWidth: 200px
$footerBackgroundColor: #212529

@import './_includes/skin.sass'

@import './_includes/Header/Header.sass'
@import './_includes/BreadCrumbs/BreadCrumbs.sass'
@import './_includes/Carousel/Carousel.sass'
@import './_includes/Footer/Rights/Rights.sass'
@import './_includes/Posts/Posts.sass'
