
$siteBackgroundColor: white
$siteBorderColor: grey
$siteColor: #06c
/*header*/
$logoWidth: 200px
$headerHeight: 60px
/*nav*/
$navHeight: 40px
/*footer*/
$footerBackgroundColor: #212529

.carousel-indicators
    z-index: 15!important

.preloader
    z-index: 100!important

h1,
h2,
h3,
h4,
h5,
h6
    color: $siteColor!important
    text-align: center
