
$siteBackgroundColor: white
$siteBorderColor: grey
$siteColor: #06c
/*header*/
$logoWidth: 200px
$headerHeight: 60px
/*nav*/
$navHeight: 40px
/*footer*/
$footerBackgroundColor: #212529

#carouselExampleIndicators
    padding-bottom: 16px

h1,
h2,
h3,
h4,
h5,
h6
    color: $siteColor!important
    text-align: center

main
    img
        margin: 0 auto
        float: left
        margin: 22px
        max-width: 100%

@media (max-width: 768px)
    main
        img
            float: none
            margin: 0
            width: 100%