.index__about-h
    font-size: 2rem
    display: block
    float: left
    width: 100%
    margin-bottom: 8px
    text-align: center
    color: #06c

.index__about-img
    margin: 16px
    float: left

@media (max-width: 1024px)
    .index__about-img
        margin: 16px 0
        width: 100%